<header>
  <a href="{{ '/' | relative_url }}" class="site-banner">
    <img src="{{ '/assets/images/banner-logo.svg' | relative_url }}" alt="">
    <span class="site-banner-stack">
    <span class="site-banner-title">Wuhu Islands</span>
    <span class="site-banner-subtitle">Autonomous Territory Government</span>
    </span>
  </a>
  <nav>
    <ul>
      <li><a href="{{ '/' | relative_url }}">Home</a></li>
      <li><a href="#">Discover</a></li>
      <li><a href="#">Visit</a></li>
      <li><a href="#">Map</a></li>
      <li><a href="{{ '/news.html' | relative_url }}">News</a></li>
      <li><a href="#">Explore</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>
